<!DOCTYPE html>
<html>
<head>
  <title>Playdate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<h1>PlayDate App</h1>
	<table class="table">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Gender</th>
				<th>Classroom</th>
				<th>Image</th>
				<th>Parent 1 Name</th>
				<th>Parent 2 Name</th>
				<th>Actions</th>
			</tr>
			<tr>
				<td><input class="form-control first_name-input"></td>
				<td><input class="form-control last_name-input"></td>
				<td><input class="form-control gender-input"></td>
				<td><input class="form-control classroom-input"></td>
				<td><input class="form-control image-input"></td>
				<td><input class="form-control parent1-input"></td>
				<td><input class="form-control parent2-input"></td>
				<td><button class="btn btn-primary add-student">Add</button></td>
			</tr>
		</thead>
		<tbody class="students">
		</tbody>
	</table>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

<script type="text/template" class="student-list-template">
	<td><span class="first_name">{{first_name}}></span></td>
	<td><span class="last_name">{{last_name}}</span></td>
	<td><span class="gender">{{gender}}</span></td>
	<td><span class="image">{{image}}</span></td>
	<td><span class="classroom">{{classroom}}</span></td>
	<td><span class="parent1">{{parent1}}</span></td>
	<td><span class="parent2">{{parent2}}</span></td>
	<td><button class="btn btn-warning edit-student">Edit</button>
	<button class="btn btn-danger delete-student">Delete</button>
	<button class="btn btn-success update-student" style="display:none">Update</button> 
	<button class="btn btn-danger cancel" style="display:none">Cancel</button>
	</td>
</script>

</body>

</html>
